#navbar{
    display:flex;
    justify-content: space-around;
    border: 1px solid black;
    height: 80px;
    align-items: center;
}
#search_input{
    height: 30px;
    width: 70%;
    border-radius: 18px;
    padding: 5px;
}
a{
    font-size: 30px;
}

#sidebar{
    border: 1px solid black;
    width: 25%;
    text-align: center;
}

#sidebar h3{
    border: 1px solid black;
    margin: 10px 20px;
}

#block-2{
    display: flex;
}

#results{
  width: 65%;
}